div.css-1r6slb0.e1tzin5v2{
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    margin: 10px 0;
} 

div.css-1a32fsj.e19lei0e0{
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    margin: 10px 0;
} 